.card {
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  width: 880px;
  height: 742px;
}

.card__slot {
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 5%;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 5% 5% 0 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
}

.card__title {
  width: 219px;
  line-height: 30px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__button {
  width: 21px;
  height: 18px;
  color: #000;
  background-image: url(../images/heart.svg);
  border-style: none;
  background-color: white;
}

.card__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 775px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    grid-template-columns: auto;
    width: 220px;
  }
}
