.page {
  background-color: black;
  width: 1280px;
  height: 1217px;
  padding: 45px 200px 45px;
}

@media screen and (max-width: 775px) {
  .page {
    height: 1630px;
    padding: 37px 100px 37px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    height: 2812px;
    padding: 28px 19px 28px;
  }
}
