.page {
  background-color: black;
  max-width: 1280px;
  padding: 45px 200px 45px;
}

@media screen and (max-width: 780px) {
  .page {
    padding: 37px 50px 37px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 28px 75px 28px;
  }
}
